@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-border {
  0% {
      opacity: 0.2;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 0.2;
  }
}

.animate-pulse-border {
  animation: pulse-border 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.quantico-regular {
font-family: "Quantico", serif;
font-weight: 400;
font-style: normal;
}

.quantico-bold {
font-family: "Quantico", serif;
font-weight: 700;
font-style: normal;
}

.quantico-regular-italic {
font-family: "Quantico", serif;
font-weight: 400;
font-style: italic;
}

.quantico-bold-italic {
font-family: "Quantico", serif;
font-weight: 700;
font-style: italic;
}
